<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages%}
                {%for category, message in messages%}
                    {%if category == 'error'%}
                    <div class="error">
                        {{message}}
                    </div>
                    {%endif%}
                {%endfor%}
            {%endif%}
            {%endwith%}
    <canvas></canvas>
    <div class="border">
        <div class="forget--win">
            <form action="method">
                <input type="password" name="pass1" placeholder="Wprowadź nowe hasło" id="">
                <input type="password" name="pass2" placeholder="Potwierdź nowe hasło"id="">
                <input type="submit" value="Zmień hasło">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='reg.js')}}"></script>
</body>
</html>