<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Przypomnienie hasła</title>
</head>
<body>
    <div class="border">
        <div class="forgot-win">
            <form action="">
                <input type="email" name="email" id="">
                <input type="submit" value="Wyślij">
            </form>
        </div>
    </div>
</body>
</html>