<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/ForgotPassChange/style.css')}}">
</head>
<body>
<!--{% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages%}
                {%for category, message in messages%}
                    {%if category == 'error'%}
                    <div class="error">
                        {{message}}
                    </div>
                    {%endif%}
                {%endfor%}
            {%endif%}
            {%endwith%}-->
    <canvas></canvas>
    <div class="border">
        <div class="forget--win">
            <form method="post">
                <h2>Change password</h2>
                <input type="password" name="pass1" placeholder="Enter new password" id="">
                <input type="password" name="pass2" placeholder="Confirm new password"id="">
                <input type="submit" value="Change password">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='reg.js')}}"></script>
</body>
</html>