<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/Register/style.css')}}">
    <title>Rejestracja</title>
</head>
<body>
<canvas></canvas>
{% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages%}
                {%for category, message in messages%}
                    {%if category == 'error'%}
                    <div class="error">
                        {{message}}
                    </div>
                    {%endif%}
                {%endfor%}
            {%endif%}
            {%endwith%}
<div class="border">
    <div class="reg-container">
        <h1>Sign up</h1>
        <form method="post">
            <input type="text" name="login" id="" placeholder="Login" autocomplete="off" class="login">
            <input type="email" name="email" id="" placeholder="E-mail" autocomplete="off">
            <input type="password" name="haslo" id="" placeholder="Password"  class="haslo"> 
            <input type="password" name="haslo_powt" id="" placeholder="Confirm password" class="haslo">
            <div class="birth">
                <select name="miesiac" id="" class="miesiac">
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sept</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select name="dzien" id="" class="dzien"></select>
                <select name="rok" id="" class="rok"></select>
            </div>
            <div class="hint-con shown">
                <h3>Password must:</h3>
                <div class="hints">
                    <div class="hint"> - be at least 8 characters long</div>
                    <div class="hint"> - have at least 1 digit</div>
                    <div class="hint"> - have at least 1 special character</div>
                    <div class="hint"> - have at least 1 capital letter</div>
                </div>
            </div>
            <input type="submit" value="Sign up">    
        </form>
        <a href="{{ url_for('auth.login')}}">Back</a>
    </div>
</div>
<script src="{{ url_for('static', filename='reg.js')}}"></script>
</body>
</html>