@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #424242;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body canvas {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

body .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 22%;
  padding: 7px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d02ebe), to(#2092ef));
  background-image: linear-gradient(to right, #d02ebe, #2092ef);
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media only screen and (min-width: 600px) {
  body .border {
    width: 22%;
  }
}

body .border .forget-win {
  padding: 30px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 90%;
  height: 30vh;
  text-align-last: nowrap;
  background-color: #353535;
  overflow: visible;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
          box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
}

body .border .forget-win .tekst {
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
  font-size: 2vh;
}

body .border .forget-win form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .border .forget-win form input {
  background: grey;
  color: white;
  width: 90%;
  outline: none;
  border: none;
  margin: 10px 0px 10px 0px;
  border-radius: 50px;
  height: 3em;
  font-size: 1em;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

body .border .forget-win form input::-webkit-input-placeholder {
  color: white;
}

body .border .forget-win form input:-ms-input-placeholder {
  color: white;
}

body .border .forget-win form input::-ms-input-placeholder {
  color: white;
}

body .border .forget-win form input::placeholder {
  color: white;
}

body .border .forget-win form .wyslij {
  width: 40%;
  height: 35%;
  background-color: #2b2b2b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .border .forget-win form .wyslij:hover {
  background-color: #474747;
}

body .border .forget-win a {
  color: white;
  position: absolute;
  bottom: 7%;
  margin: 0;
  border-radius: 25px;
  height: 3em;
  text-align: center;
  line-height: 3em;
}
/*# sourceMappingURL=style.css.map */