@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #424242;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body canvas {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

body .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 22%;
  padding: 7px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d02ebe), to(#2092ef));
  background-image: linear-gradient(to right, #d02ebe, #2092ef);
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media only screen and (min-width: 600px) {
  body .border {
    width: 22%;
  }
}

body .border .login-win {
  padding: 30px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #353535;
  overflow: visible;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
          box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
}

body .border .login-win img {
  margin: 20px 0px 20px 0px;
  height: 100px;
  overflow: visible;
}

body .border .login-win form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .border .login-win form .login {
  width: 80%;
  outline: none;
  border: none;
  margin: 20px 0px 0px 0px;
  border-radius: 50px;
  height: 40px;
  font-size: 1em;
  text-align: center;
  overflow: visible;
  background: grey;
  color: white;
}

body .border .login-win form .login::-webkit-input-placeholder {
  color: #bdbdbd;
}

body .border .login-win form .login:-ms-input-placeholder {
  color: #bdbdbd;
}

body .border .login-win form .login::-ms-input-placeholder {
  color: #bdbdbd;
}

body .border .login-win form .login::placeholder {
  color: #bdbdbd;
}

body .border .login-win .login-btn {
  margin: 30px 0px 10px 0px;
  width: 80%;
  border-radius: 10px;
  background: #313131;
  font-size: 2em;
  outline: none;
  border: none;
  height: 40px;
  color: white;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  overflow: visible;
}

body .border .login-win .login-btn:hover {
  background: #4b4a4a;
}

body .border .login-win .inner {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .border .login-win .inner a {
  color: white;
  margin: 10px 0px 0px 0px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */