@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #424242;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: white;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: Montserrat;
}

body canvas {
  position: absolute;
  z-index: -1;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

body .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 25%;
  padding: 5px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d02ebe), to(#2092ef));
  background-image: linear-gradient(to right, #d02ebe, #2092ef);
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

body .border .login-win {
  padding: 30px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  background-color: #353535;
  overflow: visible;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
          box-shadow: -40px 0px 100px 10px #d02ebe, 40px 0px 100px 20px #2092ef;
}

body .border .login-win img {
  margin: 20px 0px 20px 0px;
  height: 100px;
  overflow: visible;
}

body .border .login-win form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .border .login-win form .login {
  outline: none;
  border: none;
  width: 70%;
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  padding: 10px;
  color: white;
  background: #5a5a5a;
  font-family: Montserrat;
  text-align: center;
  letter-spacing: 1px;
}

body .border .login-win form .login::-webkit-input-placeholder {
  color: #b1b1b1;
  text-align: center;
}

body .border .login-win form .login:-ms-input-placeholder {
  color: #b1b1b1;
  text-align: center;
}

body .border .login-win form .login::-ms-input-placeholder {
  color: #b1b1b1;
  text-align: center;
}

body .border .login-win form .login::placeholder {
  color: #b1b1b1;
  text-align: center;
}

body .border .login-win form .login-btn {
  font-family: Montserrat;
  background: #242424;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  width: 35%;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10px;
  font-size: 15px;
}

body .border .login-win form .login-btn:hover {
  background: #5a5a5a;
}

body .border .login-win .inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 15px;
  margin-top: 1em;
}

body .border .login-win .inner a {
  color: white;
  margin: 10px 0px 0px 0px;
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */